ul.id-card-login-wrapper li {
	list-style: none;
}

.id-card-login-link {
  display: block;
  background: transparent url('id_kaart.gif') no-repeat;
  text-indent: -9999px;
  width: 88px;
  height: 31px;
  cursor: pointer;
  clear: both;
}